<!DOCTYPE html>
<html lang="en">
    
    {{template "header.html" .}}

    <body>
        <div class="container">
            <h1>All Articles</h1>
                {{ range .payload }}
                    <a href="/article/view/{{.ID}}">
                        <!--Display the title of the article -->
                        <h2>{{.Title}}</h2>
                    </a>
                    <!--Display the content of the article-->
                    <p>{{.Content}}</p>
                {{ end }}
        </div>
    </body>
</html>